$mainColor: #1CB954;
$blackColor: #000000;
$grayColor:  #D4D9DD;
$whiteColor: #ffffff;


@mixin btn {
  background-color: #45A1BD;
  color: white;
  border-color: #45A1BD;
  border-radius: 10px;
  font-weight: 500;
}

@mixin box-shadow {
  -webkit-box-shadow: 0px 2px 23px -6px rgba(0,0,0,1);
  -moz-box-shadow: 0px 2px 23px -6px rgba(0,0,0,1);
  box-shadow: 0px 2px 23px -6px rgba(0,0,0,1);
}